<div class="row">
  <div class="col-sm-12">
    Hello there, <span id="user"><%= @conn.params["user"] %></span>
  </div>

  <div class="col-sm-8">
    <h3>Messages:</h3>
    <ul id="messageList" class="list-unstyled">

    </ul>

    <input type="text" id="newMessage" class="form-control">
  </div>

  <div class="col-sm-4">
    <h3>Users Online:</h3>
    <ul id="userList" class="list-unstyled">
      <li></li>
    </ul>
  </div>
</div>
